<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=hacktollboothstorageinit;AccountKey=yI8GyXcHmfFZuUBdPrMtG93jMloc0daqLM6+HY7db0wLjP+B8xDypiENghidbbFow1Wpfy5s1WKMlx00kIczbg==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>